.navbar4-wrapper {
  display: contents;
}
 
.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar4-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar4-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar4-buttons1 {
  gap: var(--dl-layout-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
}
 
.navbar4-burger-menu {
  display: none;
}
 
.navbar4-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar4-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar4-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar4-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar4-logo {
  height: 3rem;
}
 
.navbar4-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar4-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar4-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar4-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
}
 
.estadisticas-fragment13 {
  display: contents;
}
 
.estadisticas-text13 {
  display: inline-block;
}
 
.estadisticas-fragment10 {
  display: contents;
}
 
.estadisticas-text10 {
  display: inline-block;
}
 
.estadisticas-fragment12 {
  display: contents;
}
 
.estadisticas-text12 {
  display: inline-block;
}
 
.estadisticas-fragment14 {
  display: contents;
}
 
.estadisticas-text14 {
  display: inline-block;
}
 
.estadisticas-fragment15 {
  display: contents;
}
 
.estadisticas-text15 {
  display: inline-block;
}
 
.estadisticas-fragment11 {
  display: contents;
}
 
.estadisticas-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar4-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.contact-form10-wrapper {
  display: contents;
}
 
.contact-form10-contact11 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact-form10-max-width {
  display: flex;
  flex-direction: column;
}
 
.contact-form10-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-direction: column;
}
 
.contact-form10-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-content2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact-form10-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form10-input1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-input2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-input3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-input4 {
  gap: var(--dl-layout-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-form10-content3 {
  align-items: stretch;
}
 
.contact-form10-row1 {
  align-items: flex-start;
}
 
.contact-form10-contact-info1 {
  gap: var(--dl-layout-space-halfunit);
  height: 81px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-contact-info2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-contact-info3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form10-text17 {
  color: var(--dl-color-theme-neutral-dark);
  font-size: 20px;
  text-transform: capitalize;
}
 
.contact-form10-row2 {
  align-items: center;
  justify-content: center;
}
 
.contact-form10-pasted-image {
  width: 737px;
  height: 366px;
}
 
.estadisticas-fragment16 {
  display: contents;
}
 
.estadisticas-text16 {
  display: inline-block;
}
 
.estadisticas-fragment17 {
  display: contents;
}
 
.estadisticas-text17 {
  display: inline-block;
}
 
.estadisticas-fragment18 {
  display: contents;
}
 
.estadisticas-text18 {
  display: inline-block;
}
 
.estadisticas-fragment19 {
  display: contents;
}
 
.estadisticas-text19 {
  display: inline-block;
}
 
.estadisticas-fragment20 {
  display: contents;
}
 
.estadisticas-text20 {
  display: inline-block;
}
 
.estadisticas-fragment21 {
  display: contents;
}
 
.estadisticas-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form10-form {
    width: 50%;
  }
  .contact-form10-container {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form10-input3 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    flex-direction: column;
  }
  .contact-form10-content3 {
    width: 50%;
  }
  .contact-form10-row1 {
    flex-direction: column;
  }
  .contact-form10-content4 {
    width: 50%;
  }
  .contact-form10-contact-info1 {
    width: 50%;
  }
  .contact-form10-content5 {
    width: 50%;
  }
  .contact-form10-row2 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact-form10-input3 {
    width: 100%;
  }
  .contact-form10-row2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .contact-form10-content2 {
    flex-direction: column;
  }
  .contact-form10-form {
    width: 100%;
  }
  .contact-form10-input3 {
    width: 100%;
  }
  .contact-form10-content3 {
    width: 100%;
  }
  .contact-form10-row1 {
    flex-direction: column;
  }
  .contact-form10-content4 {
    width: 100%;
  }
  .contact-form10-content5 {
    width: 100%;
  }
  .contact-form10-row2 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}

.estadisticas-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #FAEADD;
}
 
.estadisticas-fragment10 {
  display: contents;
}
 
.estadisticas-text10 {
  display: inline-block;
}
 
.estadisticas-fragment11 {
  display: contents;
}
 
.estadisticas-text11 {
  display: inline-block;
}
 
.estadisticas-fragment12 {
  display: contents;
}
 
.estadisticas-text12 {
  display: inline-block;
}
 
.estadisticas-fragment13 {
  display: contents;
}
 
.estadisticas-text13 {
  display: inline-block;
}
 
.estadisticas-fragment14 {
  display: contents;
}
 
.estadisticas-text14 {
  display: inline-block;
}
 
.estadisticas-fragment15 {
  display: contents;
}
 
.estadisticas-text15 {
  display: inline-block;
}
 
.estadisticas-fragment16 {
  display: contents;
}
 
.estadisticas-text16 {
  display: inline-block;
}
 
.estadisticas-fragment17 {
  display: contents;
}
 
.estadisticas-text17 {
  display: inline-block;
}
 
.estadisticas-fragment18 {
  display: contents;
}
 
.estadisticas-text18 {
  display: inline-block;
}
 
.estadisticas-fragment19 {
  display: contents;
}
 
.estadisticas-text19 {
  display: inline-block;
}
 
.estadisticas-fragment20 {
  display: contents;
}
 
.estadisticas-text20 {
  display: inline-block;
}
 
.estadisticas-fragment21 {
  display: contents;
}
 
.estadisticas-text21 {
  display: inline-block;
}
 
.estadisticas-link {
  display: contents;
}
 
.estadisticas-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.estadisticas-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.estadisticas-text22 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
