.navbar4-wrapper {
  display: contents;
}
 
.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar4-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar4-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar4-buttons1 {
  gap: var(--dl-layout-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
}
 
.navbar4-burger-menu {
  display: none;
}
 
.navbar4-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar4-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar4-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar4-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar4-logo {
  height: 3rem;
}
 
.navbar4-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar4-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar4-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar4-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
}
 
.mapa-fragment4 {
  display: contents;
}
 
.mapa-text13 {
  display: inline-block;
}
 
.mapa-fragment1 {
  display: contents;
}
 
.mapa-text10 {
  display: inline-block;
}
 
.mapa-fragment3 {
  display: contents;
}
 
.mapa-text12 {
  display: inline-block;
}
 
.mapa-fragment5 {
  display: contents;
}
 
.mapa-text14 {
  display: inline-block;
}
 
.mapa-fragment6 {
  display: contents;
}
 
.mapa-text15 {
  display: inline-block;
}
 
.mapa-fragment2 {
  display: contents;
}
 
.mapa-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar4-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.mapa-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #FAEADD;
}
 
.mapa-fragment1 {
  display: contents;
}
 
.mapa-text10 {
  display: inline-block;
}
 
.mapa-fragment2 {
  display: contents;
}
 
.mapa-text11 {
  display: inline-block;
}
 
.mapa-fragment3 {
  display: contents;
}
 
.mapa-text12 {
  display: inline-block;
}
 
.mapa-fragment4 {
  display: contents;
}
 
.mapa-text13 {
  display: inline-block;
}
 
.mapa-fragment5 {
  display: contents;
}
 
.mapa-text14 {
  display: inline-block;
}
 
.mapa-fragment6 {
  display: contents;
}
 
.mapa-text15 {
  display: inline-block;
}
 
.mapa-image {
  left: 133px;
  width: 1583px;
  bottom: 15px;
  height: 879px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  border-radius: 50px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/tq_scp7ijamae-ae18-1600w.png");
}
 
.mapa-text16 {
  top: 577px;
  left: 502px;
  color: rgba(0, 0, 0, 1);
  width: 20px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justified;
  font-family: Roboto;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mapa-group5 {
  top: 550px;
  left: 473px;
  width: 37px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mapa-locationon {
  top: 0px;
  left: 0px;
  width: 37px;
  height: 37px;
  position: absolute;
}
 
.mapa-badges {
  top: 7px;
  left: 11px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: var(--dl-color-m3_sys_light-error);
}
 
.mapa-navigationbar {
  gap: 8px;
  width: 1535px;
  height: 86px;
  display: flex;
  padding: 0 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.mapa-navitem1 {
  gap: 4px;
  width: 501px;
  display: flex;
  padding: 12px 0 16px;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.mapa-iconcontainer1 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-m3_sys_light-secondarycontainer);
}
 
.mapa-statelayer1 {
  width: 64px;
  height: 32px;
  display: flex;
  padding: 4px 20px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(166, 166, 166, 1);
}
 
.mapa-text17 {
  color: var(--dl-color-m3_sys_light-onsurface);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.mapa-navitem2 {
  gap: 4px;
  width: 501px;
  display: flex;
  padding: 12px 0 16px;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.mapa-iconcontainer2 {
  width: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  justify-content: center;
}
 
.mapa-statelayer2 {
  gap: 10px;
  width: 64px;
  height: 32px;
  display: flex;
  padding: 4px 20px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.mapa-icon1 {
  width: 24px;
  height: 24px;
}
 
.mapa-text18 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.mapa-frame427318963 {
  width: 630px;
  height: 70px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mapa-topappbar {
  gap: 6px;
  top: 0px;
  left: 0px;
  width: 745px;
  height: 56px;
  display: flex;
  padding: 8px 4px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(246, 242, 239, 0.8500000238418579);
}
 
.mapa-leadingicon {
  gap: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.mapa-text19 {
  color: rgba(0, 0, 0, 0.800000011920929);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 28px;
}
 
.mapa-mappin {
  top: 14px;
  left: 0px;
  width: 27px;
  height: 29px;
  position: absolute;
}
 
.mapa-trailingicon {
  gap: 10px;
  top: 0px;
  left: 502px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.mapa-container2 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
 
.mapa-statelayer3 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
 
.mapa-icon2 {
  width: 24px;
  height: 24px;
}
 
.mapa-icon3 {
  top: 16px;
  left: 563px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.mapa-pasted-image {
  width: 1830px;
  height: 732px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.mapa-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.mapa-icon4 {
  left: 369px;
  width: 54px;
  bottom: 44px;
  height: 20px;
  position: absolute;
}
 
.mapa-link {
  display: contents;
}
 
.mapa-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.mapa-icon5 {
  width: 24px;
  margin-right: 4px;
}
 
.mapa-text20 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
