
.tablas1{
    position: relative;
    width: 100%;
    height: 650px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 12%;
    padding-right: 5%;
    margin-top: 50px;
    margin-left: -50px;
    align-content: center;
    
    
}

.PortadaSubcri{
    position: relative;
    height: 1000px;
    max-width: 100%;
    padding-bottom: 750px;
    margin-top: 50px;
    align-content: center;
    justify-content: center;
    text-align:  center;
    margin: 0;
    align-items: center;
    
}
.PortadaSubcri h2{
    position: absolute;
    margin-left: 36%;
    margin-top: 70px;
    font-size: 85px;
    color: rgb(215, 177, 126);
    text-shadow: 2px 2px 5px #78acc2;
}


.tablas1 .Tabla{
    background-color: rgb(255, 255, 255);
    margin-right: 3%;
    margin-left: 3%;
    width: 25%;
    height: 500px;
    margin-top: 500px;
    border: 1px solid rgb(249, 235, 235);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgb(116, 145, 199);
    padding: 60px;
    padding-top: 0%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.Tabla>h5{
    text-align: center;
    margin-left: -62px;
    margin-right: -62px;
    margin-top: 5px;
    padding-top: 15%;
    padding-bottom: 15%;
    font-size: 30px;
    margin-top: 0%;
    margin-bottom:35px;
}
.co{
    color: rgb(250, 249, 249);
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(113, 177, 113);
    border-radius: 10px;
}
.co2{
    color: rgb(250, 249, 249);
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(130, 146, 194);
    border-radius: 10px;
}
.co3{
    color: rgb(250, 249, 249);
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(183, 130, 190);
    border-radius: 10px;
}

.Tabla>.ima1{
    width: 100px;
    height: 25%;
    margin-top: 0%;
    margin-left: -20px;
    padding-top:0% ;
    margin-bottom: 10px;
}
.Tabla>h6{
    padding-right: 5%;
    margin-top: 5%;
    font-size: 30px;
    margin-bottom: 20px;
}
.Tabla>p{
    display: block;
    margin-top: 0.5px;
    margin-bottom: 0px;
}

.b_1{
    display: inline-block;
    width: 150px;
    padding: 12px;
    margin-top: 50px;
    background: rgb(211, 58, 58);
    text-decoration: none;
    color: rgb(232, 232, 235);
    text-align: center;
    font-size: 10.84px;
    font-weight: 600;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    
}
.b_2{
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: rgb(211, 58, 58);
    text-decoration: none;
    color: rgb(232, 232, 235);
    text-align: center;
    font-size: 10.84px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 9px ;
    padding-left: 4px;
    padding-right: 4px;

}
.b_3{
    display: inline-block;
    width: 150px;
    padding: 12px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgb(211, 58, 58);
    text-decoration: none;
    color: rgb(232, 232, 235);
    border-radius: 9px;
    text-align: center;
    font-size: 10.84px;
    font-weight: 600;
    margin-top: 10px;
}
.tb1:hover{
    background-color: rgb(139, 218, 155);
    color: rgb(255, 255, 255);
    transition: 0.8s all;
    transform: scale(1.1);
    cursor: pointer;
    
}
.tb2:hover{
    background-color: rgb(160, 190, 224);
    color: rgb(255, 255, 255);
    transition: 0.8s all;
    transform: scale(1.1);
    cursor: pointer;
    
}
.tb3:hover{
    background-color: rgb(185, 154, 208);
    color: rgb(255, 255, 255);
    transition: 0.8s all;
    transform: scale(1.1);
    cursor: pointer;
    
}
@media screen and (max-width:1700px) {
    .PortadaSubcri h2{
        position: absolute;
        text-align: center;
        font-size: 70px;
        margin-top: 70px;
    }
    .tablas1 .Tabla{
        height: 500px;
        margin-top: 250px;
    }
    .PortadaSubcri{
        position: relative;
        height: 750px;
    }
}
@media screen and (max-width: 1670px) {
    .PortadaSubcri h2{
        margin-left: 33%;
    }
}
@media screen and (max-width: 1358px) {
    .PortadaSubcri h2{
        margin-left: 30%;
    }
}
@media screen and (max-width: 1317px) {
    .PortadaSubcri h2{
        margin-left: 30%;
    }
    .tablas1 {
       padding-right: 0%;
       padding-left: 0%;
       margin: auto;
        
    }
}
@media screen and (max-width: 1290px) {
    .PortadaSubcri{
        height: 1500px;
    }
    .PortadaSubcri h2{
        margin-left: 25%;
    }
}
@media screen and (max-width: 1286px) {
    .PortadaSubcri{
        height: 2000px;
    }
    .PortadaSubcri h2{
        margin-left: 25%;
    }
    .tablas1 .Tabla{
        padding:auto;
        height: 550px;
        flex: initial;
        max-width: none;
        margin-bottom: 40px;
        width: 400px;
        margin-top: 0px;
        
    }
    .tablas1 .tb1 , .tablas1 .tb2{
        margin-top:1100px ;
    }
    
    .p{
        margin-top: 1%;
        
    }
    .b_1{
        margin-top: 25%;
        padding-right: 0%;
    }
    .b_2{
        margin-top: 19.6%;
        margin-left: 0%;
    }
    .b_3{
        margin-top:25px ;
    }
}

@media screen and (max-width: 1165px) {
    .PortadaSubcri h2{
        margin-left: 20%;
       
    }
    
}
@media screen and (max-width: 1000px) {
    .tablas1 .Tabla{
        width: 40%;
        flex: initial;
        max-width: none;
        margin-bottom: 40px
    }
    .Tabla>.ima1{
        width: 100px;
        height: 25%;
        margin-top: 0%;
        margin-left: 0px;
        padding-top:0% ;
        margin-bottom: 10px;
    }
    .PortadaSubcri h2{
        margin-left: 15%;
       
    }
   
}
@media screen and (max-width: 820px) {
    .tablas1 .Tabla{
        width: 50%;
        flex: initial;
        max-width: none;
        margin-bottom: 190px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .tablas1 .tb1{
        width: 50%;
        margin-top: 50px;
        flex: initial;
        max-width: none;
        margin-bottom: 40px
    }
    .tablas1 .tb2{
        width: 50%;
        margin-top: 0px;
        flex: initial;
        max-width: none;
        margin-bottom: 40px
    }
    .tablas1{

        height: 2300px;
    }
    .Tabla>.ima1{
        width: 100px;
        height: 25%;
        margin-top: 0%;
        margin-left: 0px;
        padding-top:0% ;
        margin-bottom: 10px;
    }
    .PortadaSubcri h2{
        margin-left: 15%;
       
    }
   
}
@media screen and (max-width: 777px) {
    .PortadaSubcri h2{
        margin-left: 10%;
       
    }
}
@media screen and (max-width: 700px) {
    .tablas1 .Tabla{
        width: 65%;
    }
    .tablas1 .Tabla>h5{
        margin-top: 0px;
    }
    .Tabla .b_1{
        margin-top: 20%;
    }
    .Tabla .b_3{
        margin-top: 15%;
    }
   
   
}
@media screen and (max-width: 693px) {
    .PortadaSubcri h2{
        margin-left: 5%;
       
    }
}
@media screen and (max-width: 633px) {
    .PortadaSubcri h2{
        margin-left: 2%;
       
    }
}
@media screen and (max-width: 606px) {
    .PortadaSubcri h2{
        font-size: 60px;
        padding-left: 12%;
       
    }
}
@media screen and (max-width: 600px) {
    .a{
        padding-top: 45%;
    }
   
}
@media screen and (max-width: 550px) {
    .tablas1 .Tabla{
        width: 75%;
    }
    .PortadaSubcri h2{
        font-size: 60px;
        padding-left: 8%;
       
    }
   
}
@media screen and (max-width: 517px) {
    .PortadaSubcri h2{
       
        padding-left: 5%;
    }
    
}
@media screen and (max-width: 457px) {
    .PortadaSubcri h2{
       
       font-size: 50px;
       margin-left: 30px;
    }
    
}
@media screen and (max-width: 417px) {
    .PortadaSubcri h2{
    
        margin-top: 100px;
        font-size: 40px;
        color: rgb(215, 177, 126);
        text-shadow: 2px 2px 5px #9cb3bd;
    }
    
}
@media screen and (max-width: 400px) {
    .tablas1 .Tabla{
        width: 85%;
    }
    .tablas1 .Tabla>h5{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .b_1 , .b_2, .b_3{
        align-items: center;
        text-align: center;
        padding-left: 0;
        margin-left: -10px;
    }
    .PortadaSubcri{
        margin-bottom: 300px;
    }
   
}
@media screen and (max-width: 350px) {
    .tablas1 .Tabla{
        width: 85%;
        height: 500px;
    }
    .PortadaSubcri h2{
    
        margin-top: 80px;
        padding-left: 0%;
    }
    .tablas1 .Tabla>h5{
        margin-top: 0px;
        
        margin-bottom: 10px;
    }
    .tablas1{
        height: 2100px;
    }
    .Tabla .b_1{
        align-items: center;
        text-align: center;
        padding-left: 0;
        margin-left: 10px;
        margin-top: 30%;
    }
    .Tabla .b_2{
        align-items: center;
        text-align: center;
        padding-left: 0;
        margin-left: 10px;
        margin-top: 20%;
    }
    .Tabla .b_3{
        
        margin-left: 10px;
        
    }

    .PortadaSubcri{
        margin-bottom: 390px;
    }
   
}
@media screen and (max-width: 330px) {
    
    .Tabla .b_2{
        margin-top: 10px;
        margin-left: -25px;
        margin-bottom: 0px;
    }
    .Tabla .b_3{
        margin-left: -25px;
    }
    .Tabla .b_1{
        margin-left: -25px;
    }
    .PortadaSubcri h2{
        font-size: 35px;
        margin-left: 45px;
    }
    
   
}
@media screen and (max-width: 318px) {
    .tablas1 .Tabla{
        width: 85%;
        height: 500px;
    }
    .PortadaSubcri h2{
        font-size: 35px;
    }
   
    .tablas1 .Tabla>h5{
        margin-top: 0px;
        
        margin-bottom: 10px;
    }
    .tablas1{
        height: 2100px;
    }
    .Tabla .b_1{
        align-items: center;
        text-align: center;
        padding-left: 0;
        margin-left: 10px;
        margin-top: 30%;
    }
    .Tabla .b_2{
        align-items: center;
        text-align: center;
        padding-left: 0;
        margin-left: 10px;
        margin-top: 20%;
    }
    .Tabla .b_3{
        
        margin-left: 10px;
        
    }

    .PortadaSubcri{
        margin-bottom: 390px;
    }
   
}
@media screen and (max-width: 300px) {
    .tablas1  .Tabla{
        width: 48%;
        height: 10%;
        display: inline-table;
    }
    .tablas1 .Tabla .ima1{
        margin-top: 40px;
    }
    .Tabla .b_1{
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .Tabla .b_3{
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .Tabla .b_2{
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .PortadaSubcri{
        margin-bottom: 50px;
    }
    .tablas1 .Tabla>h5{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    p{
        font-size:12px;
    }
    .Tabla>h6{
        font-size: 25px;
    }
    .b_1,.b_2,.b_3{
        
        width: 110px;
    }
    .b_1{
        margin-top: 60%;
    }
    .tablas1 .Tabla>h6{
        margin-bottom: 2%;
    }
    .tablas1 .Tabla>.ima1{
        margin-bottom: 1%
    }
   
}
@media screen and (max-width: 296px) {
    
    
    .PortadaSubcri h2{
        text-align: center;
        font-size: 30px;
    }
}
@media screen and (max-width: 200px) {
    
    .tablas1 .Tabla>h5{
        font-size: 15px;
    }
    p{
        font-size: 8px;
    }
    .b_1{
        margin-top: 70%;
    }
}
@media screen and (max-width: 253px) {
    
   
    .PortadaSubcri h2{
        font-size: 25px;
        margin-left: 15px;
    }
    
   
}