.toast3-container {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.toast3-close-button {
  display: flex;
  flex-direction: row;
}
 
.toast3-icon1 {
  width: 24px;
  height: 24px;
}
 
@media(max-width: 767px) {
  .toast3-close-button {
    align-self: flex-start;
  }
}
